@font-face {
  font-family: Gotham;
  src: url("../fonts/GothamMedium.ttf"); }
@font-face {
  font-family: "Gotham - Book";
  src: url("../fonts/GothamBook.ttf"); }
@font-face {
  font-family: "Gotham - Bold";
  src: url("../fonts/GothamBold.ttf"); }
* {
  box-sizing: border-box; }

body {
  font-family: Gotham;
  font-weight: 500;
  min-width: 320px; }

.container {
  max-width: 980px;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: space-between; }
  .header__buttons {
    display: flex;
    flex: 33.33%; }
    .header__buttons-search {
      width: 87px;
      background: url("../images/search.png") no-repeat center center/23px 23px #e2dee0; }
    .header__buttons-account {
      position: relative;
      display: block;
      width: 100%;
      text-decoration: none;
      color: #ffffff;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      padding: 25px 70px;
      background-color: #e94e38; }
      .header__buttons-account::before {
        position: absolute;
        top: 28px;
        left: 40px;
        content: "";
        display: inline-block;
        width: 15px;
        height: 17px;
        background: url("../images/account.png") no-repeat center center/contain; }

.logo {
  flex: 33.33%;
  background: url("../images/logo.png") no-repeat 75% 50%/154px 45px; }

.nav {
  display: flex;
  justify-content: center;
  flex: 33.33%; }
  .nav__link {
    display: block;
    text-decoration: none;
    color: #96a6a7;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 25px 10px; }

@media screen and (max-width: 1279px) {
  .logo {
    flex: 10%;
    background: url("../images/logoSmall.png") no-repeat 75% 50%/45px 45px; }

  .nav {
    flex: 45%;
    max-width: 300px;
    flex-wrap: wrap; }
    .nav__link {
      margin: 13px 10px 0; }

  .header__buttons {
    flex: 45%; } }
@media screen and (max-width: 767px) {
  .logo {
    flex: 10%;
    background: url("../images/logoSmall.png") no-repeat center right/25px 25px; }

  .nav {
    flex: 60%;
    max-width: 220px;
    flex-wrap: wrap; }
    .nav__link {
      margin: 3px 3px 0;
      font-size: 10px;
      line-height: 14px; }

  .header__buttons {
    flex: 30%; }
    .header__buttons-search {
      width: 40px;
      background: url("../images/search.png") no-repeat center center/13px 13px #e2dee0; }
    .header__buttons-account {
      padding: 10px 0 10px 23px;
      font-size: 10px;
      line-height: 14px; }
      .header__buttons-account::before {
        width: 10px;
        height: 13px;
        top: 10px;
        left: 9px; } }
.search {
  background: url("../images/header.png") no-repeat center center/cover; }
  .search-wrap {
    background-color: rgba(37, 25, 25, 0.7); }
    .search-wrap-color {
      background: url("../images/headerBg.png") no-repeat center center/cover;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .search-wrap-color__title {
        text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
        color: #ffffff;
        font-size: 30px;
        line-height: 48px;
        padding-top: 47px;
        padding-bottom: 23px; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form__selects-block {
    border-radius: 50px;
    width: 223px;
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: url(../images/arrowDown.png) no-repeat 90% 50%/14px 9px rgba(255, 255, 255, 0.15);
    color: #ffffff;
    font-family: "Gotham - Book";
    font-size: 18px;
    font-weight: 400;
    padding-left: 27px;
    line-height: 30px;
    margin: 0 12px;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .form__selects-block:focus {
      outline: 1px solid transparent; }
    .form__selects-block option {
      background-color: #bbaa9e; }
  .form__input {
    width: 473px;
    height: 58px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    color: #ffffff;
    font-family: "Gotham - Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.15);
    padding-left: 27px;
    margin-top: 21px; }
    .form__input:focus {
      outline: 1px solid transparent; }
  .form__button {
    width: 143px;
    height: 63px;
    padding-top: 4px;
    margin-top: 26px;
    margin-bottom: 40px;
    box-shadow: 0 2px 0 #c1412e;
    background-color: #e94e38;
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    color: #ffffff;
    font-size: 18px;
    line-height: 48px;
    text-transform: uppercase;
    border-style: none;
    border-radius: 50px;
    cursor: pointer; }
    .form__button:focus {
      outline: 1px solid rgba(255, 255, 255, 0.2); }

@media screen and (max-width: 767px) {
  .search-wrap-color__title {
    font-size: 20px;
    line-height: 24px;
    padding-top: 37px;
    padding-bottom: 15px; }

  .form__selects-block {
    width: 134px;
    height: 43px;
    background: url(../images/arrowDown.png) no-repeat 90% 50%/10px 7px rgba(255, 255, 255, 0.15);
    font-size: 14px;
    padding-left: 17px;
    line-height: 25px;
    margin: 0 7px; }
  .form__input {
    width: 286px;
    height: 43px;
    font-size: 14px;
    line-height: 25px;
    padding-left: 17px;
    margin-top: 15px; }
  .form__button {
    width: 120px;
    height: 45px;
    padding-top: 2px;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 25px; } }
.sec-nav {
  box-shadow: 0 1px 0 #edebec;
  background-color: #ffffff; }
  .sec-nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .sec-nav-menu__link {
    text-decoration: none;
    margin: 0 10px;
    color: #96a6a7;
    font-size: 12px;
    line-height: 48px;
    text-transform: uppercase; }
    .sec-nav-menu__link:hover {
      color: #e94e38; }
  .sec-nav-search__form-select {
    border-radius: 50px;
    width: 117px;
    height: 38px;
    border: 1px solid #96a6a7;
    background: url(../images/arrowDownGrey.png) no-repeat 85% 50%/12px 8px #ffffff;
    color: #e94e38;
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 15px;
    line-height: 32px;
    margin: 0 5px;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .sec-nav-search__form-select:focus {
      outline: 1px solid transparent; }
  .sec-nav-search__form-button {
    border-radius: 50px;
    width: 128px;
    height: 38px;
    border: 1px solid #1baf5d;
    background: url(../images/map.png) no-repeat 85% 50%/8px 12px #1baf5d;
    color: #ffffff;
    font-size: 12px;
    line-height: 32px;
    text-align: start;
    text-transform: uppercase;
    margin: 0 5px;
    padding-left: 15px; }
    .sec-nav-search__form-button:focus {
      outline: 1px solid #1baf5d; }
  .sec-nav-filter {
    display: flex;
    justify-content: space-between;
    margin: 10px 0; }
    .sec-nav-filter__text {
      margin-right: 4px;
      color: #96a6a7;
      font-size: 12px;
      line-height: 48px;
      text-transform: uppercase; }
    .sec-nav-filter__pict {
      width: 43px;
      height: 44px;
      background-color: #b6c0c1;
      border-radius: 50%;
      display: flex;
      margin: 0 4px; }
      .sec-nav-filter__pict-img {
        margin: auto; }
      .sec-nav-filter__pict_green {
        background-color: #1baf5d; }
      .sec-nav-filter__pict_orange {
        background-color: #f19e1f; }
      .sec-nav-filter__pict_purple {
        background-color: #88499c; }

@media screen and (max-width: 1279px) {
  .sec-nav {
    padding: 10px 0; }
    .sec-nav-menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .sec-nav-menu__link {
        line-height: 24px; }
    .sec-nav-search__form {
      display: flex; }
    .sec-nav-filter {
      position: relative;
      margin-right: 5px; }
      .sec-nav-filter__text {
        position: absolute;
        top: -33px;
        left: 104px; } }
@media screen and (max-width: 767px) {
  .sec-nav-menu {
    flex: 30%;
    order: 1; }
    .sec-nav-menu__link {
      font-size: 8px;
      line-height: 16px; }
  .sec-nav-search {
    flex: 30%;
    order: 3; }
    .sec-nav-search__form {
      margin-right: 10px;
      justify-content: flex-end;
      flex-wrap: wrap; }
      .sec-nav-search__form-select {
        width: 80px;
        height: 28px;
        background: url(../images/arrowDownGrey.png) no-repeat 85% 50%/10px 6px #ffffff;
        font-size: 8px;
        padding-left: 10px;
        line-height: 16px;
        margin: 0 5px;
        margin-bottom: 2px; }
      .sec-nav-search__form-button {
        margin-top: 2px;
        width: 80px;
        height: 28px;
        background: url(../images/map.png) no-repeat 85% 50%/6px 10px #1baf5d;
        font-size: 8px;
        padding-left: 10px;
        line-height: 16px;
        margin: 0 5px; }
  .sec-nav-filter {
    flex: 40%;
    order: 2;
    margin-right: 0;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 120px; }
    .sec-nav-filter__text {
      font-size: 8px;
      line-height: 16px;
      text-transform: uppercase;
      top: -17px;
      left: 45px; }
    .sec-nav-filter__pict {
      width: 35px;
      height: 35px;
      margin: 0 2px; } }
.major {
  background-color: #f3f1f2; }

.cards {
  padding-top: 30px; }
  .cards-wrap {
    display: flex;
    justify-content: space-between; }
  .cards-house {
    border-radius: 3px;
    margin: 13px;
    width: 213px;
    height: 269px;
    box-shadow: 0 1px 0 #e2dee0;
    background: url("../images/house2beds.png") no-repeat center center/cover;
    position: relative; }
    .cards-house__price {
      width: 67px;
      height: 28px;
      background-color: #1baf5d;
      border-radius: 50px;
      position: absolute;
      top: 6px;
      right: 7px;
      color: #ffffff;
      font-size: 12px;
      line-height: 28px;
      text-transform: uppercase;
      padding-left: 12px; }
    .cards-house__icon {
      width: 57px;
      height: 57px;
      display: block;
      border: 3px solid #ffffff;
      background: url("../images/home.png") no-repeat center center/30px 23px #1baf5d;
      border-radius: 50%;
      position: absolute;
      top: 112px;
      left: 76px; }
    .cards-house__text {
      margin-top: 140px;
      border-top: 4px solid #1baf5d;
      padding: 31px 15px 16px;
      color: #566375;
      font-size: 14px;
      line-height: 18px;
      text-align: center; }
    .cards-house__place {
      color: #1baf5d;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center; }
    .cards-house_4rooms {
      background: url("../images/house4beds.png") no-repeat center center/cover; }
  .cards-party {
    border-radius: 3px;
    margin: 13px;
    width: 213px;
    height: 269px;
    box-shadow: 0 1px 0 #e2dee0;
    background: url("../images/party.png") no-repeat center center/cover;
    position: relative; }
    .cards-party__icon {
      width: 57px;
      height: 57px;
      display: block;
      border: 3px solid #ffffff;
      background: url("../images/music.png") no-repeat center center/26px 26px #f19e1f;
      border-radius: 50%;
      position: absolute;
      top: 112px;
      left: 76px; }
    .cards-party__text {
      margin-top: 140px;
      border-top: 4px solid #f19e1f;
      padding: 31px 15px 33px;
      color: #566375;
      font-size: 14px;
      line-height: 18px;
      text-align: center; }
    .cards-party__place {
      color: #f19e1f;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center; }
  .cards-transport {
    border-radius: 3px;
    margin: 13px;
    width: 213px;
    height: 269px;
    box-shadow: 0 1px 0 #e2dee0;
    background: url("../images/trShow.png") no-repeat center center/cover;
    position: relative; }
    .cards-transport-wrap {
      border-radius: 3px;
      padding-top: 23px;
      width: 213px;
      height: 140px;
      background-color: rgba(136, 73, 156, 0.7); }
    .cards-transport__show {
      width: 140px;
      height: 35px;
      border: 2px solid #ffffff;
      padding-left: 19px;
      background-color: transparent;
      text-decoration: none;
      display: block;
      color: #ffffff;
      font-size: 12px;
      line-height: 31px;
      text-transform: uppercase;
      border-radius: 50px;
      margin: 0 auto;
      margin-bottom: 20px; }
      .cards-transport__show-img {
        margin-right: 4px; }
    .cards-transport__imgs {
      display: flex;
      justify-content: center; }
      .cards-transport__imgs-star {
        padding-top: 3px;
        color: #ffffff;
        font-family: "Font Awesome";
        font-size: 15px;
        font-weight: 400;
        line-height: 48px;
        text-transform: uppercase; }
      .cards-transport__imgs-comments {
        padding-left: 25px;
        color: #ffffff;
        font-family: "Font Awesome";
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase; }
    .cards-transport__icon {
      width: 57px;
      height: 57px;
      display: block;
      border: 3px solid #ffffff;
      background: url("../images/transport.png") no-repeat center center/24px 26px #88499c;
      border-radius: 50%;
      position: absolute;
      top: 112px;
      left: 76px; }
    .cards-transport__text {
      margin-top: -1px;
      border-top: 4px solid #88499c;
      padding: 31px 15px 17px;
      color: #566375;
      font-size: 14px;
      line-height: 18px;
      text-align: center; }
      .cards-transport__text_normal {
        margin-top: 140px; }
    .cards-transport__place {
      color: #88499c;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center; }
    .cards-transport_normal {
      background: url("../images/house2beds.png") no-repeat center center/cover; }
  .cards-agency {
    border-radius: 3px;
    margin: 13px;
    width: 458px;
    height: 272px;
    box-shadow: 0 1px 0 #e2dee0;
    background: url("../images/agency.png") no-repeat center center/cover;
    position: relative; }
    .cards-agency-wrap {
      width: 458px;
      height: 122px;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 29%, rgba(0, 0, 0, 0) 100%); }
    .cards-agency__title {
      display: flex;
      justify-content: center;
      padding-top: 97px; }
      .cards-agency__title-text {
        padding-right: 8px;
        padding-top: 3px;
        text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase; }
    .cards-agency__icon {
      width: 57px;
      height: 57px;
      display: block;
      border: 3px solid #ffffff;
      background: url("../images/home.png") no-repeat center center/30px 23px #1baf5d;
      border-radius: 50%;
      position: absolute;
      top: 94px;
      left: 22px; }
    .cards-agency__main {
      display: flex;
      padding-top: 18px;
      border-top: 4px solid #1baf5d; }
      .cards-agency__main-photo {
        position: relative;
        margin: 25px 22px;
        width: 57px;
        height: 57px;
        background: url("../images/lucy.png") no-repeat center center/57px 57px; }
        .cards-agency__main-photo::before {
          content: "";
          display: inline-block;
          width: 2px;
          height: 14px;
          position: absolute;
          top: -17px;
          left: 28px;
          background-color: #f3f1f2; }
      .cards-agency__main-name {
        padding-top: 5px;
        color: #566375;
        font-family: "Gotham - Bold";
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase; }
      .cards-agency__main-text {
        max-width: 340px;
        color: #566375;
        font-family: "Gotham - Book";
        font-size: 14px;
        line-height: 20px;
        font-weight: 300; }
      .cards-agency__main-link {
        color: #566375;
        font-family: Gotham;
        font-weight: 500;
        text-decoration: underline; }
  .cards-club {
    border-radius: 3px;
    margin: 13px;
    width: 458px;
    height: 272px;
    box-shadow: 0 1px 0 #e2dee0;
    background: url("../images/club.png") no-repeat center center/cover;
    position: relative; }
    .cards-club-wrap {
      width: 458px;
      height: 122px;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 29%, rgba(0, 0, 0, 0) 100%); }
    .cards-club__title {
      display: flex;
      justify-content: center;
      padding-top: 97px; }
      .cards-club__title-text {
        padding-right: 8px;
        padding-top: 3px;
        text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase; }
    .cards-club__icon {
      width: 57px;
      height: 57px;
      display: block;
      border: 3px solid #ffffff;
      background: url("../images/home.png") no-repeat center center/30px 23px #f19e1f;
      border-radius: 50%;
      position: absolute;
      top: 94px;
      left: 22px; }
    .cards-club__main {
      display: flex;
      padding-top: 18px;
      border-top: 4px solid #f19e1f; }
      .cards-club__main-photo {
        position: relative;
        margin: 25px 22px;
        width: 57px;
        height: 57px;
        background: url("../images/peter.png") no-repeat center center/57px 57px; }
        .cards-club__main-photo::before {
          content: "";
          display: inline-block;
          width: 2px;
          height: 14px;
          position: absolute;
          top: -17px;
          left: 28px;
          background-color: #f3f1f2; }
      .cards-club__main-name {
        padding-top: 5px;
        color: #566375;
        font-family: "Gotham - Bold";
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase; }
      .cards-club__main-text {
        max-width: 340px;
        color: #566375;
        font-family: "Gotham - Book";
        font-size: 14px;
        line-height: 20px;
        font-weight: 300; }
      .cards-club__main-link {
        color: #566375;
        font-family: Gotham;
        font-weight: 500;
        text-decoration: underline; }
  .cards-load {
    display: flex;
    justify-content: center;
    padding: 27px 10px 34px;
    border-bottom: 1px solid #e2dee0; }
    .cards-load__link {
      color: #566375;
      font-size: 18px; }
    .cards-load__arrow {
      padding-top: 3px;
      padding-left: 6px;
      color: #566375;
      font-family: "Font Awesome";
      font-size: 14px;
      font-weight: 400; }

.cards__rating {
  display: flex;
  justify-content: center;
  padding-top: 6px; }
  .cards__rating-star {
    color: #f19e1f;
    font-family: "Font Awesome";
    font-size: 12px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase; }
    .cards__rating-star_big {
      color: #f19e1f; }
  .cards__rating-number {
    color: #96a6a7;
    font-size: 12px;
    text-transform: uppercase; }
    .cards__rating-number_white {
      color: #ffffff; }
  .cards__rating_big {
    justify-content: flex-start;
    padding-top: 0; }

@media screen and (max-width: 1023px) {
  .cards-wrap {
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    margin: 0 auto; } }
@media screen and (max-width: 479px) {
  .cards-wrap {
    max-width: 400px; }
  .cards-agency {
    width: 213px;
    height: 400px; }
    .cards-agency-wrap {
      width: 213px;
      height: 175px; }
    .cards-agency__title {
      flex-direction: column;
      align-items: center;
      padding-top: 80px; }
    .cards-agency__icon {
      top: 149px;
      left: 76px; }
    .cards-agency__main-photo {
      display: none; }
    .cards-agency__main-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 15px 0; }
  .cards-club {
    width: 213px;
    height: 400px; }
    .cards-club-wrap {
      width: 213px;
      height: 175px; }
    .cards-club__title {
      flex-direction: column;
      align-items: center;
      padding-top: 80px; }
    .cards-club__icon {
      top: 149px;
      left: 76px; }
    .cards-club__main-photo {
      display: none; }
    .cards-club__main-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 15px 0; } }
.offer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .offer__title {
    padding-top: 80px;
    color: #566375;
    font-size: 22px; }
  .offer__text {
    padding-top: 6px;
    color: #96a6a7;
    font-family: "Gotham - Book";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; }
  .offer__links {
    margin-top: 65px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center; }
  .offer__link {
    margin: 0 30px;
    text-decoration: none;
    display: block;
    width: 103px;
    height: 104px;
    border: 2px solid #9dacad;
    background-color: #f3f1f2;
    border-radius: 50%;
    position: relative; }
    .offer__link:hover {
      border: 2px solid #1baf5d; }
    .offer__link_home {
      background: url("../images/homeGray.png") no-repeat center center/50px 40px;
      margin-left: 0; }
      .offer__link_home:hover {
        background: url("../images/homeGreen.png") no-repeat center center/50px 40px; }
    .offer__link_service {
      background: url("../images/serviceGray.png") no-repeat center center/38px 45px; }
      .offer__link_service:hover {
        background: url("../images/serviceGreen.png") no-repeat center center/38px 45px; }
    .offer__link_education {
      background: url("../images/educationGray.png") no-repeat center center/50px 32px; }
      .offer__link_education:hover {
        background: url("../images/educationGreen.png") no-repeat center center/50px 32px; }
    .offer__link_music {
      background: url("../images/musicGray.png") no-repeat center center/45px 45px; }
      .offer__link_music:hover {
        background: url("../images/musicGreen.png") no-repeat center center/45px 45px; }
    .offer__link_transport {
      background: url("../images/transportGray.png") no-repeat center center/43px 46px;
      margin-right: 0; }
      .offer__link_transport:hover {
        background: url("../images/transportGreen.png") no-repeat center center/43px 46px; }
    .offer__link::after {
      content: "";
      display: inline-block;
      width: 54px;
      height: 2px;
      position: absolute;
      background-color: #e2dee0;
      top: 50px;
      left: 104px; }
    .offer__link_last::after {
      display: none; }
  .offer__reality {
    color: #1baf5d;
    font-size: 24px; }
  .offer__blocks {
    padding-top: 40px;
    padding-bottom: 140px;
    display: flex; }
  .offer__block {
    display: flex;
    padding: 0 15px; }
    .offer__block-img {
      display: block;
      text-decoration: none;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: #1db05e;
      color: #ffffff;
      font-family: "Font Awesome";
      font-size: 30px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      padding-top: 18px;
      margin-right: 30px; }
    .offer__block-text {
      max-width: 260px;
      color: #566375;
      font-family: "Gotham - Book";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }

@media screen and (max-width: 767px) {
  .offer__link {
    margin: 0 15px;
    width: 50px;
    height: 50px; }
    .offer__link_home {
      background: url("../images/homeGray.png") no-repeat center center/25px 20px; }
      .offer__link_home:hover {
        background: url("../images/homeGreen.png") no-repeat center center/25px 20px; }
    .offer__link_service {
      background: url("../images/serviceGray.png") no-repeat center center/19px 22px; }
      .offer__link_service:hover {
        background: url("../images/serviceGreen.png") no-repeat center center/19px 22px; }
    .offer__link_education {
      background: url("../images/educationGray.png") no-repeat center center/25px 16px; }
      .offer__link_education:hover {
        background: url("../images/educationGreen.png") no-repeat center center/25px 16px; }
    .offer__link_music {
      background: url("../images/musicGray.png") no-repeat center center/22px 22px; }
      .offer__link_music:hover {
        background: url("../images/musicGreen.png") no-repeat center center/22px 22px; }
    .offer__link_transport {
      background: url("../images/transportGray.png") no-repeat center center/21px 23px; }
      .offer__link_transport:hover {
        background: url("../images/transportGreen.png") no-repeat center center/21px 23px; }
    .offer__link::after {
      width: 27px;
      height: 2px;
      top: 22px;
      left: 49px; }
  .offer__blocks {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 100px; }
  .offer__block {
    padding-top: 30px; } }
@media screen and (max-width: 479px) {
  .offer__title {
    padding-top: 50px;
    font-size: 17px; }
  .offer__text {
    font-size: 14px; }
  .offer__links {
    margin-top: 40px; }
  .offer__link {
    margin: 0 7px; }
    .offer__link::after {
      width: 10px;
      height: 2px;
      left: 50px; }
  .offer__reality {
    font-size: 18px; }
  .offer__blocks {
    padding-bottom: 100px; }
  .offer__block-text {
    max-width: 180px;
    font-size: 12px;
    line-height: 20px; } }
.footer {
  background: url("../images/footer.png") no-repeat center center/cover; }
  .footer-wrap {
    background-color: rgba(37, 25, 25, 0.7); }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__title {
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    padding-top: 60px;
    padding-bottom: 20px; }
  .footer__form {
    position: relative;
    padding-bottom: 54px; }
  .footer__label {
    position: relative; }
  .footer__letter {
    position: absolute;
    top: 46px;
    left: 36px;
    color: #ffffff;
    font-family: "Font Awesome";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; }
  .footer__input {
    width: 495px;
    height: 62px;
    padding-left: 70px; }
  .footer__button {
    width: 123px;
    height: 53px;
    font-size: 14px;
    position: absolute;
    top: -1px;
    right: 5px; }
  .footer__blocks {
    padding: 35px 20px 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    width: 100%; }
  .footer__block {
    flex: 33%; }
    .footer__block-link {
      color: #ffffff;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .footer__block-text {
      padding-top: 15px;
      color: #c0bebc;
      font-family: "Gotham - Book";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
    .footer__block-social {
      padding-top: 25px;
      padding-bottom: 53px; }
    .footer__block-net {
      color: #ffffff;
      font-family: "Font Awesome";
      font-size: 30px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none;
      margin-right: 20px; }
    .footer__block-google {
      vertical-align: bottom;
      width: 27px;
      height: 29px;
      display: inline-block;
      background: url("../images/google.png") no-repeat center center/contain;
      margin-right: 19px; }
    .footer__block-youtube {
      vertical-align: bottom;
      width: 26px;
      height: 31px;
      display: inline-block;
      background: url("../images/youtube.png") no-repeat center center/contain; }
    .footer__block-copyright {
      color: #ffffff;
      font-family: "Gotham - Book";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }

@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 0; }
  .footer__input {
    width: 286px;
    height: 43px;
    padding-left: 50px; }
  .footer__button {
    width: 83px;
    height: 36px;
    top: -7px;
    right: 3px;
    font-size: 10px;
    line-height: 36px; }
  .footer__letter {
    font-size: 14px;
    top: 33px;
    left: 26px; }
  .footer__block-link {
    font-size: 12px;
    line-height: 20px; }
  .footer__block-text {
    font-size: 10px;
    line-height: 20px; }
  .footer__block-social {
    padding-top: 20px;
    padding-bottom: 40px; }
  .footer__block-net {
    font-size: 26px;
    margin-right: 15px; }
  .footer__block-google {
    width: 23px;
    height: 25px;
    margin-right: 14px; }
  .footer__block-youtube {
    width: 22px;
    height: 27px; }
  .footer__block-copyright {
    font-size: 8px;
    line-height: 20px; } }
@media screen and (max-width: 479px) {
  .footer__block-social {
    max-width: 95px;
    padding-bottom: 13px; }
  .footer__block-copyright {
    max-width: 95px;
    line-height: 15px; } }

/*# sourceMappingURL=style.css.map */
